<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="SourcePath" value="C:\Users\Wong\Desktop\MathFolder\MuseMath\Uploads\@DocName"/>
        <add key="TargetPath" value="C:\Users\Wong\Desktop\MathFolder\MuseMath\Downloads\@DocName_@TimeStamp.docx"/>
    </appSettings>
</configuration>